 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
 
  <% if (successMessage == "Short URL created successfully") { %>
  <div class="flash-message" id="flash-message">
      <%= successMessage %>
  </div>
  <div class="progress-bar" id="progress-bar"></div> 
   
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const flashMessage = document.getElementById('flash-message');
      const progressBar = document.getElementById('progress-bar');
     flashMessage.style.display = 'block';
      const duration = 1500;
      progressBar.style.width = '100%';
      setTimeout(function () {
        flashMessage.style.display = 'none';
        progressBar.style.width = '0';
      }, duration);
    }); 

  </script>
  <% } %>



  <script>
    function confirmDelete(shortUrl, deleteKey) {
      const confirmed = confirm('Are you sure you want to delete this short URL?');
      if (confirmed) {
        deleteShortUrl(shortUrl, deleteKey);
      }
    }
    function deleteShortUrl(shortUrl, deleteKey) {
      fetch('/shorturl/delete', {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ shortUrl, deleteKey }),
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          alert('Short URL deleted successfully');
          location.reload(); 
        } else {
          alert('Failed to delete short URL');
        }
      })
      .catch(error => {
        console.error('Error:', error);
        alert('An error occurred');
      });
    }
  </script>

 <div class="urls"> 
<div class="head"> 
  <h1>Welcome, <%=user.username%> !</h1>
</div>
<h2>Shorten a New URL:</h2>
<div class = "shorten"> 
  <form class="form" id="my-Form" action="/shorten" method="post">
    <input type="text" placeholder="Enter the URL" id="url" name="url" required>
    <button class="btn-btn-primary" id="submitbutton" type="submit">Shorten</button>
  </form>
</div>
<div class="alurl">
  <h2>Your Short URLs:</h2>
  <!-- <table class="table">
    <tbody class="tbody">
      <% user.shortUrls.forEach(shortUrl => { %>
        <tr>
          <td class="column"><a href="http://localhost:3000/<%= shortUrl.short %>">http://localhost:3000/<%= shortUrl.short %></a></td>
          <td class="column" id="col2"><%= shortUrl.full %></td> 
          <td class="column" id="col3"><%= shortUrl.clicks %></td>
          <td>
            <button class="delete-button" onclick="confirmDelete('<%= shortUrl.short %>', '<%= shortUrl.deleteKey %>')">Delete</button>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table> -->


  <% user.shortUrls.forEach(shortUrl => { %>
  <div class="grid-container">
    <!-- Column 1 -->
    <div class="grid-item" id="col1"><a class="anchor1" href="http://localhost:3000/<%= shortUrl.short %>">http://localhost:3000/<%= shortUrl.short %></a></div>
    <!-- Column 2 -->
    <div class="grid-item" id="col2"><%= shortUrl.full %></div>
    <!-- Column 3 -->
    <div class="grid-item" id="col3"><%= shortUrl.clicks %></div>
    <!-- Column 4 -->
    <div class="grid-item" id="col4"> <button class="delete-button" onclick="confirmDelete('<%= shortUrl.short %>', '<%= shortUrl.deleteKey %>')">Delete</button></div>
  </div>
  <% }); %>

</div>
</div>




</body>
</html>
